/*ToDo: new font?, new picture on top?, add non-code things?*/

body {
      text-align: center;
    /*background: url("background.jpg");*/
    /*background-color: #152A3F;*/
    /*background-color: rgba(89, 13, 82, .98);*/
    background-color: rgba(81, 11, 75, .97);
    color: #bbb;;
    font-family: 'Rokkit', serif;
}

hr {
  border-color: #aaa;
  margin: 0 40px 0 40px;
}

header {
	margin: 0 0 50px 0;
  /*background: url("DaniCoding.jpeg");
  background-size: cover;*/
  background-color: #FFBA58;
background-image: linear-gradient(-90deg, #FF7473 0%, #FFC952 100%);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: "Roboto", sans-serif;
color: #fff;
font-weight: 500;
text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
font-size: 36px;
}

h1 {
  font-size: 88px;
  margin-bottom: 2px;
  margin-top: 40px;
  margin-left: 40px;
  text-align: left;
  font-family: 'Lato', serif;
}

h2 {
	font-size: 32px;
  letter-spacing: 2px;
	color: #eeeeee;
  margin: 10px 0 48px 40px;
  font-weight: 400;
  text-align: left;
  font-family: 'Lato', serif;
}

#HappyComputer {
  max-height: 190px;
  border: 0;
  margin-right: 150px;
}

#tech-text {
  font-size: 34px;
  color: #ccc;
  margin: 0px 0px 10px 40px;
  text-decoration: underline;
  text-align: left;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 25px;
}

h5 {
	font-size: 28px;
	color: #ccc;
  margin: 0px 0px 40px 40px;
  text-align: left;
  /*font-family: */
  font-size: 25px;
  line-height: 1.4;
}

.contact div{
  display: inline-block;
  padding:46px 44px 16px 44px;
  font-size: 22px;
}

.contact img {
  max-height: 46px;
  border: 0;
  margin:0;
}

.contact button {
  /*background-color: pink;*/
  margin-top: 8px;
  color: black;
  border: 1px solid black;
}

input {
	color: black;
  border: none;
  margin-top: 8px;
  max-height: 46px;
}
 input:hover {
   filter: brightness(40%);
 }

 input:focus {
   outline: none;
   filter: brightness(30%);
   background: pink;

 }

main
h3 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #eeeeee;
    margin: 8px 0 0px 0;
    padding: 10px 0 10px 0;
    border-top: 1px solid black;
    background-color: #89A9AD;
}

#projects {
  color: #222;
}

.Description {
    padding-top: 26px;
    padding-bottom: 40px;
    border-bottom: 1px solid #999;
}

h4 {
    font-size: 50px;
    color: #222222;
    margin: 60px 0 50px 0;
}

.Description a {
    font-size: 26px;
}

img {
    border: 2px solid black;
    max-width: 400px;
    margin-left: 20px;
}

.Description p {
    font-size: 24px;
    text-align: left;
    margin-top: 0px;
    margin-left: 60px;
}

.Description button {
    color: black;
    border: 1px solid black;
    background-color: rgba(81, 11, 75, .4);
    border-radius: 200px;
    margin-top: 5px;
}

#Zivity {
    background-color: rgb(215, 215, 215);
    padding: 0px 100px 0px 100px;
}

#Christina {
  background-color: rgb(249, 229, 239);
  padding: 0px 100px 0px 100px;
}

#FizzBuzz {
  background-color: rgb(215, 215, 215);
  padding: 0px 100px 0px 100px;
}

#A-maze-ing {
    background-color: rgb(249, 229, 239);
    padding: 0px 100px 0px 100px;

}

#Rails {
   background-color: rgb(215, 215, 215);
   padding: 0px 100px 0px 100px;

}

h6 {
    font-size: 24px;
}

#DaniSearch {
        background-color: #4f4f4f;
}



footer {
    background-color: rgba(81, 11, 75, .97);
    padding: 10px 0 10px 0;
}

footer p {
    max-width: 100%;
    font-size: 22px;
}

footer a {
  /*TODO: fix this color*/
  color: grey;
}

#Social {
	margin: 40px 0 34px 0;
}

#FB_twitter {
	display:inline-flex;
}

#twitter {
  padding-right: 10px;
}

#foot {
	margin: 0 280px 0 280px;
  padding: 34px 0 34px 0;
	text-align: center;
  border-top: 1px solid #333;
}

a {
	/*color: #89A9AD;*/
  color: rgba(81, 11, 75, .65);
}

.contact button:focus {
  outline: none;
  border: 3.5px solid #ff6666;
}

.Description button:focus {
  outline: none;
  border: 3.5px solid;
}



/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 2.25% 1% 0%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 65.16%;
}
.span_1_of_3 {
    width: 30.33%;
}


/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
  margin: 0 0 0 1.6%;}

.span_11_of_12 {
  	width: 91.53%;
    margin: 0 0 0 1.6%;
}
.span_10_of_12 {
  	width: 83.06%;
    margin: 0 0 0 1.6%;
}

.span_9_of_12 {
  	width: 74.6%;
    margin: 0 0 0 1.6%;
}

.span_8_of_12 {
  	width: 66.13%;
    margin: 0 0 0 1.6%;
}

.span_7_of_12 {
  	width: 57.66%;
    margin: 0 0 0 1.6%;
}

.span_6_of_12 {
  	width: 49.2%;
    margin: 0 0 0 1.6%;
}

.span_5_of_12 {
  	width: 40.73%;
    margin: 0 0 0 1.6%;
}

.span_4_of_12 {
  	width: 32.26%;
    margin: 0 0 0 1.6%;
}

.span_3_of_12 {
  	width: 23.8%;
    margin: 0 0 0 1.6%;
}

.span_2_of_12 {
  	width: 15.33%;
    margin: 0 0 0 1.6%;
}

.span_1_of_12 {
  	width: 6.866
    margin: 0 0 0 1.6%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

/*@media only screen and (max-width: 480px) {

}*/

@media only screen and (max-width: 1350px) {

  .col {
      margin: 1% 0 1% 0%;
  }

    .span_3_of_3 {
        width: 100%;
    }
    .span_2_of_3 {
        width: 100%;
    }
    .span_1_of_3 {
        width: 100%;
    }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 570px) {
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%;
	}
}
